*

!server/
!server/**
!shared/
!shared/**

**/node_modules
**/node_modules/**
**/.git
**/build
**/dist
**/uploads
**/uploads/**
**/logs
**/logs/**
server/.tmp-*
server/docs
server/docs/**
server/devenv
server/.DS_Store

server/uploads
server/uploads/**
server/uploads-tmp
server/uploads-tmp/**
server/public-uploads
server/public-uploads/**
